# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Large datasets
*.csv

# Trained models
*.pkl

# Large satellite/geospatial data
sakri_imagery/
sakri_elevation/
sakri_indices/
sakri_predictions/

# OS
.DS_Store
Thumbs.dbIndia.7z
WoSIS_2023_December/
__MACOSX/
*.tif
*.tiff
*.npy
sakri_imagery_date2/
sakri_indices_date2/
App.jsx
sentinal_config.py
*.docx

India.7z
sakri_npk_region_elevation/
sakri_npk_region_imagery/
